.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.categoriesSection {
    width: 25%;
}
.feedSection {
    width: 50%;
}
.loadMoreButton, .loadMoreButton > button{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
    }
    .categoriesSection,.feedSection {
        width: 100%;
    }
  }
  